html {
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
